body{
    margin: 0px;
}
.Group {
    background-color: #a0a0a0;
    min-width: 1460px;
}
.NavBar {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 5px;
    margin-block: auto;

}

.left{
    display: flex;
}
.NavBar-wrapper {
    margin-block: auto;
    margin-right: 30px;
    padding: 10px;
    text-transform: capitalize;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    font-size: 20px;
}
Heading-Bar {
    margin-right: 75px; 
    font-size: 30px;
}
.NavBar-wrapper a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
    margin: 5px;
}
.right {
    display: flex;
}

.NavBar-wrapper:hover{
    border-bottom: 1px solid black;
}

.NavBar-wrapper a:hover {
    color: black;
}



.Profile {
    min-width: 1150px;
    position: relative;
    display: inline-grid;
    grid-template-columns: 250px 400px auto;
    margin-bottom: 100px;
    padding-inline: 100px;
    padding-block: 50px;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
    padding-right: 250px;
}



.Category {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: 5em;
    color: rgb(210 212 215 / 0.49);
}



.profile-intro-pic {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.profile-intro-text {
    border-top: 1px solid;
    border-color: #e7e9eb;
    padding: 25px;
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.profile-intro-info {
    padding: 25px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}




.info {
    position: relative;
    display: inline-grid;
    grid-template-columns: 150px auto;
    margin-bottom: 100px;
    padding-right: 250px;
    padding-inline: 100px;
    padding-block: 50px;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
}
.info-text {

    padding: 25px;
    font-size: 20px;
    margin-block: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    word-wrap: break-word;
}


.project-wrapper {
    min-width: 1460px;
    display: grid;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(228 228 228 / 0.48);
}
.projects-group {
    min-width: 1130px;
    position: relative;
    display: inline-grid;
    margin: 100px;
    border: 2px solid;
    border-color: #e7e9eb;
    background-color: rgb(201 235 241 / 0.22);
    box-shadow: 2px;
    padding-right: 250px;
}
.project {
    min-width: 1000px;
    position: relative;
    display: inline-grid;
    padding-inline: 100px;
    padding-block: 50px;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
    padding-right: 250px;
    position:center;
}

.ed {
    display: inline-grid;
    grid-template-columns: 200px auto;
    min-width: 1000px;
    padding-inline: 100px;
    padding-block: 50px;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
    padding-right: 250px;
    position: center;
}
.ED-wrapper {
    min-width: 1000px;
}
.WelcomeBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.WelcomePhoto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 0px;
    padding-block: 200px;
    opacity: 85%;
    font-size: 50px;
    color:  white;
    text-align: center;
}



.Welcome-Contents {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Welcome-Content-wrapper {
    position: relative;
    padding-block: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.Welcome-Content-wrapper:hover{
    opacity: 1;
}
.img_text {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100%;
    height: 100%;
    color:  black;
    transition: color 0.5s;
    font-size:  20px;
    opacity: 1;
}
.img_text:hover{
    color: white;
}
    .headings {
    padding-left: 25px;
}
.text{
    margin-inline:50px;
    font-size:20px;
}
