html, body {
    margin: 0px;
    overflow-x: hidden;
}

.Icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    max-width: 10vw; 
    max-height: 10vw; 
    padding-block: 20px;
}
.Group {
    display: block;
    list-style-type: none;
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
}


.NavBar-wrapper {
    float: left;
    margin-block: auto;
    margin-right: 3px;
    text-transform: capitalize;
    padding: 1.7vh 16px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    font-size: 2.5vh;
    display: block;
}
Heading-Bar {
    margin-right: 7vw;
    font-size: 25px;
}
.NavBar-wrapper a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}
.right {
    display: flex;
    padding: 5px
}

.NavBar-wrapper:hover{
    border-bottom: 1px solid black;

}

.NavBar-wrapper a:hover {
    color: black;
}
.openbtn {
    float: left;
    font-size: 2.5vh;
    cursor: pointer;
    background-color: #a0a0a0;
    color: white;
    padding: 1.55vh 16px;
    border: none;
}
@media all and (min-width: 807px) {
    .openbtn {
        pointer-events: none;
    }
}
@media all and (min-width: 1000px) {

    .Welcome-Contents {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media all and (max-width: 806px) {
    .NavBar-wrapper:hover {
        border-bottom: none;
    }
    .Welcome-Contents {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 40vh 40vh 40vh;
    }
    .Group {
        background-color: #a0a0a0;
        width: 100%;
        height: 0px;
        text-align: center;
        z-index: 5;
        display: flex;
        flex-direction: column;
        transition: 1s;
    }
    .openbtn {
        width: 100%;
        text-align: left;
        pointer-events: all;
    }
    .NavBar-wrapper {
        float: none;
        text-align: justify;
    }
    .Category {
        font-size: 10vh;
    }

}


.Profile {
    /* min-width: 1150px; */
    position: relative;
    display: inline-grid;
    grid-template-columns: 10vw 35vw 50vw;
    margin-bottom: 5vh;
    padding-block: 1vh;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
    padding-right: 250px;
}



.Category {
    padding-block: 5vw;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: 4vw;
    color: rgb(210 212 215 / 0.49);
}



.profile-intro-pic {
    padding: 6vw;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.profile-intro-text {
    border-top: 1px solid;
    border-color: #e7e9eb;
    font-size: 25vw;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-wrap: break-word;
}

.profile-intro-info {
    padding: 4vw;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}




.info {
    position: relative;
    display: inline-grid;
    grid-template-columns: 10vw 85vw;
    margin-bottom: 5vh;
    padding-block: 1vh;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
    box-shadow: 2px;
    padding-right: 250px;
}

.info-text {
    padding-inline: 5vw;
    font-size: 2vw;
    margin-block: 5vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-gap: 1px;
    word-wrap: break-word;
}



.project-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.projects-group {
    position: relative;
    display: inline-grid;
    background-color: rgb(228 228 228 / 0.48);
    padding-inline: 25px;
    width: 70%;
    padding-inline:10vw;
    padding-block: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px
}
.project {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid;
    border-color: #e7e9eb;
    box-shadow: 2vw;
    position: center;
    padding-inline: 50px;
    padding-block: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.FlexPic {
    max-width: 50vw;
    max-height: 50vh;
    flex-basis: auto;
    padding-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
}
.collection_vid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ed {
    display: inline-grid;
    grid-template-columns: 20vw auto;
    width: 100%;
    padding-block: 5vw;
    border-bottom: 2vw solid;
    border-color: #e7e9eb;
    box-shadow: 2vw;
    padding-right: 25vw;
    position: center;
}
.ED-wrapper {
    width:100%
}
.WelcomeBox {
    margin-top:0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.WelcomePhoto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 0px;
    padding-block: 20vw;
    opacity: 85%;
    font-size: 50px;
    color: white;
    text-align: center;
}



.Welcome-Contents {
    width: 100%;
    display: grid;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Welcome-Content-wrapper {
    position: relative;
    padding-block: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    transition: opacity 0.5s;
}
.Welcome-Content-wrapper:hover{
    opacity: 1;
}
.img_text {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    transition: color 0.5s;
    font-size: 5vh;
    opacity: 1;
    min-inline-size: 20vw;
}
.img_text:hover{
    color: white;
}
.Bheading {
    text-align: center;
    font-size: 4vh;
    border-bottom: 2px solid;
    border-color: #e7e9eb;
}
.heading {
    text-align: center;
    font-size: 2.5vh;
}
.text {
    text-align: center;
    font-size: 15px;
}
.vids {
    width: 50vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
}
.Yvids {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
